*{
	margin: 0;
	padding: 0;
}
#main-container{
	background: #F7F7F2;
	width:100%;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}
#header-container{
	background-color:rgba(92, 87, 85,0.6);
	width:100%;
	z-index:2;
	position: relative;
	top:0;
}


/*PARALAX*/
.paralax{
	margin: 4.9% 0;
	padding:10% 0;
	overflow: hidden; 
	position: relative; 
	width: 100%;
	background-attachment: fixed; 
	background-size: cover;  
	background-position: center center;
}
.paralax h3{
	text-align: center;
	font-size: 4em;
	color:#463f3a;
}
.paralax h4{
	text-align: center;
	font-size: 2.2em;
	color:#463f3a;
}
.parallax-one {
	background-image: url(../Images/paralax1.webp);
}
.parallax-two {
	background-image: url(../Images/paralax2.webp);
}
.parallax-three {
	background-image: url(../Images/paralax3.webp);
}



/*DEVIDER*/
.devider{
	margin: 5%;
}
.heading{
	font-size: 3em;
	color:#8a817c;
	text-align:center
}
.subHeading{
	font-size: 2.5em;
	color:#8a817c;
	text-align:center
}


/*NAVIGATION*/
#header-container #logo-item{
	font-size: 1.7em;
	font-weight:600;
	margin-left: 130%;
}
.main-nav{
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
}
.main-nav li{
	display: block;
	position:relative;
	font-size: 1.4em;
	margin:0.5% 1.5%
}
.main-nav li:hover{
	color:#463f3a;
	border-radius: 10px
}
.main-nav li a{
	color:#f4f3ee;
	text-decoration:none;
}
.nav-right{
	position: absolute;
	display: flex;
	right: 3%;
	top: 10%;
}
.icon{
	font-size:1.5em;
	margin:20%;
	color:#f4f3ee
}


/*HOME PAGE*/
#videoBanner{
	width: 100%;
}
.content{
	margin: 5%;
}
.description{
	margin:1.6%;
	margin-bottom:8%;
	width:30%;
	float:left;
	border: 3px solid #463f3a;
	background-color:#DFE0DC;
	box-shadow: 15px 10px #8a817c;
	text-align: justify;
	padding: 2%
}
.description img{
	width:100%;
}
.description:hover{
	transform: scale(1.2)
}
#team{
	justify-content: center;
	margin:5%;
}
.teamCaptions{
	background: rgba(247, 247, 242, 0.7);
	border: 2px solid #002A32;
	border-radius: 30px;
	width:40%;
	margin: 0 auto;
}
.colorTeam{
	color: #002A32;
}


/*CONCEPT PAGE*/
.concept-heading{
	text-align:center;
	font-size: 2.5em;
	color:#463f3a;
	margin: 0 2% auto;
	padding-top:7%;
}
.concept-subheading{
	text-align:center;
	font-size: 1.5em;
	color:#8a817c;
	margin: 2% auto;
}
.grid-container {
	columns: 4;
	column-gap: 1.5em;
	width: 90%;
	margin: 0 auto;
}
.grid-container div {
	width: 15%;
	margin: 0 1.2em 1.2em 0;
	display: inline-block;
	width: 100%;
	border: solid 2px black;
	padding: 0.2%;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
	border-radius: 15px;
	transition: all .25s ease-in-out;
}
.grid-container img {
	width: 100%;
	filter: grayscale(100%);
	border-radius: 15px;
	transition: all .25s ease-in-out;
}
.grid-container img:hover {
	filter: grayscale(0);
	border: 3px solid #8a817c
}
.card-color{
	background: #c5cdb6;
	border: 3px solid #576f75;
}


/*LOCATIONS PAGE*/
.location-container {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	background:#c5cdb6
}
.location-heading{
	text-align:center;
	font-size: 2.5em;
	color: #576f75;
	margin:0%;
	padding: 5%;
	text-decoration:underline
}
.box {
	flex: 1;
	overflow: hidden;
	transition: .5s;
	margin: 0 2%;
	padding: 0;
	box-shadow: 0 20px 30px rgba(0,0,0,.1);
	border: 10px solid #463f3a;
}
.box > img {
	width: 100%;
	height: calc(100% - 5vh);
	object-fit: cover; 
	transition: .5s;
}
.box > span {
	font-size:1.2em;
	display: block;
	text-align: center;
	/*height: 10vh;*/
	line-height: 2.6;
	background:#f6f6e6;
	color:#463f3a
}
.box:hover { 
	flex: 3; 
}
.box:hover > img {
	width: 100%;
	height: 100%;
}



/*FORMS*/
form {
	background-color:rgba(75, 73, 71,0.3);
	border: 7px solid #463f3a;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 50%;
	text-align: center;
}
form h1 {
	font-weight: bold;
	font-size:2em;
	margin: 5%;
	color: #4c3337;
	text-decoration: underline;
}
form input {
	background-color: #eee;
	border: 2px solid #463f3a;
	border-radius: 12px;
	padding: 1.5%;
	margin: 5% 0;
	width: 100%;
}
form input[type=submit] {
	border-radius: 20px;
	background-color: #463f3a;
	width:40%;
	margin:4%;
	color: #FFFFFF;
	font-size: 1em;
	font-weight: bold;
	padding: 3% 5%;
	text-align:center
}
.form-item{
	width:70%;
}
.form-item label{
	font: 1.3em Lucida Sans Typewriter;
	color:#463f3a
}
.form-item p{
	height:5%
}
#sign-in-container, #sign-up-container {
	width: 40%;
	margin: 10% 30%
}
.formLink{
	font-size: 1.3em;
	margin: 5% 20%;
	color: #4c3337
}
#nameError, #emailError, #passwordError, #confirmPasswordError{
	margin-top:0.5%;
	margin-bottom:15%;
	font-weight:700;
	color: #DC0000;
	display:none
}




/*MEDIA QUERIES*/
/*for over 1400 everything seems okay*/

@media only screen and (max-width: 1400px){
	#header-container #logo-item{
		margin-left: 70%;
	}
}

@media only screen and (max-width: 1200px){
	#header-container #logo-item{
		margin-left: 40%;
	}
	.description{
		margin:2% 10%;
		width:80%;
	}
	.description img{
		margin:5% 10%;
		width:80%;
	}
	.description p{
		font-size: 1.4em;
	}
	.card-color h5{
		font-size: 1.6em;
	}
	.card-color p{
		font-size: 1.4em;
	}
	.grid-container{
		columns: 2;
	}
	#sign-in-container, #sign-up-container {
		width: 70%;
		margin: 10% 16%
	}
}

@media only screen and (max-width: 992px){
	#header-container #logo-item{
		display: none;
	}
	.main-nav li{
		font-size: 2em;
	}
	.icon{
		font-size: 2em;
		margin:10%;
	}
	.description{
		margin:5%;
		width:90%;
	}
	.description img{
		margin:5% 10%;
		width:80%;
	}
	.box:hover{
		flex:20;
	}
	footer{
		justify-content: space-around;
	}
}

@media only screen and (max-width: 768px){
	.grid-container{
		columns: 1;
	}
	.location-container {
		display: block;
	}
	.box {
		display: block;
		width: 80%;
		margin: 5% auto;
	}
	.box:hover { 
		transform: scale(1.2)
	}
	
}

@media only screen and (max-width: 576px){
	#sign-in-container, #sign-up-container {
		width: 90%;
		margin: 10% 5%
	}

	#header-container #logo-item{
		font-size: 1.7em;
		font-weight:600;
		margin-left: 130%;
	}
	.main-nav{
		flex-direction: column;
		padding: 0;
	}
	.main-nav li{
		font-size: 2em;
	}
	.nav-right{
		position: relative;
    	display: block;
    	margin-left: 38%;

	}
	.icon{
		font-size:1.5em;
		margin:20%;
		color:#f4f3ee
	}

}